<div class="row">
	<div class="span8 offset2">

			<h1>
				<%= avatar_profile_link @like.user %> 
			  	<%= @like.user.full_name %> 
			  	<small><%= time_ago_in_words(@like.created_at) + " ago" %></small>
			</h1>



		<% if @like.status %> 
		<p>
		  <%= @like.status.content %>
		</p>		
		<% end %> 


		<hr> 



		<div class="meta">
				<%= link_to 'Back', activities_path %>
		</div>
	</div>
</div>
