<!DOCTYPE html>
<html>
<head>
  <title>FriendBook</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div id="header">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="#" class="brand">PhaceBook<em> By Ben Wong</em></a>
				<ul class='nav'>
					<li id='activity-feed'><%= link_to "Statuses", feed_path %> </li>
					<% if user_signed_in? %> 
					<li><%= link_to "Activity Feed", activities_path %></li>
					<% end %> 
				</ul>
				<ul class="nav pull-right">
					<% if user_signed_in? %> 
					<li><%= link_to "Albums" , albums_path(current_user) %></li>
					<li><%= link_to 'Friends', user_friendships_path %></li>
					<li><%= link_to 'Find Friends', findfriends_path %></li>
					<li><%= link_to current_user.full_name, edit_user_registration_path %> </li> 
					<li><%= link_to "Log Out", logout_path %> </li>
					<% else %> 
					<li><%= link_to "Register", register_path %> </li>
					<li><%= link_to "Login", login_path %> </li>
					<% end %> 
				</ul>
			</div>
		</div>
	</div>
</div>
</div>
	<div class="container">
		<%= render_breadcrumbs %>
		<% flash.each do |type, message| %>
			<div class="alert <%= flash_class(type.to_s) %>"> 
				<button class="close" data-dismiss="alert">x</button>
				<%= message %> 
			</div> 
		<% end %>  
<%= yield %>
	</div>
</body>

<script id="activities-template" type="text/x-handlebars-template">
	<a class="dropdown-toggle" href="#">Activity Feed</a>
	<ul class="dropdown-menu">
	{{#each activities}}
		{{<li><a href="#">{{this.user_id}} {{this.action}} a {{this.targetable_type}}.</a></li>}}
	{{/each}}
	</ul>
</script>

</html>
